mhandbook-examples/osgi/osgi-project/runner/felix/*
mhandbook-examples/osgi/osgi-project/runner/bundles/*
target/
velocity.log
cobertura.ser
.project
.classpath
.settings/
*~
pom.xml~
.svn/*
*.releaseBackup
release.properties
*#